*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
	transition: 30ms all;
}
:root {
	--bg: #292929d6;
  --pr: #fff;
  --hi: #ffcc00c4;
  --mut: #a0a0a07d;
}

body {
	font-family: monospace;
  background: #ddd;
}


canvas {
	position: fixed;
	left: 500px;
}

.side-bar {
	position: fixed;
  width: 450px;
  height: 100vh;
  top: 0;
  left: 0;
  border: 1px solid #aaa;
  display: grid;
  overflow-y: scroll;
}

.array {
	padding: 0.15em 0.8em;
  background: #ddd;
  background: #1e41ffcc;
  color: black;

  background: var(--bg);
  color: var(--pr);
  padding-left: .5em;
  margin-left: .5em;
  border-left: 2px solid #fff2;
  border-right: 2px solid #fff2;

	border-radius:1em;
  min-width: 150px;
  display: inline-block;
}

.side-bar > .array {
	margin:0 !important;
}

span.fold {
	color: var(--mut);
}

span.string {
	padding-left: .1em;
}

span.function {
	margin: .5em;
  background: var(--pr);
	color:var(--bg);
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 600;
	padding: .15em .6em;
}
span.symbol {
	margin: .5em;
  background: var(--pr);
	color:var(--bg);
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 600;
	padding: .15em .6em;
	border-radius: 50px;
}

*[selected='true']{
	background: var(--hi) !important;
	color: var(--pr) !important;
}

.array[selected='true']{
	color: var(--bg) !important;
}

.array[selected='true'] > .function{
	background: var(--hi);
	color: var(--bg);
	border-top: 2px solid var(--bg);
}

.array[selected='true'] > .function[selected='true']{
	background: var(--hi);
	color: var(--bg);
}
